.rss-ad
  %a{ :href => 'http://blog.allabrilyn.com/aggregator/rss/1' }
    %img{ :src => 'images/feed-icon-28x28.png' }
  %a{ :href => 'http://blog.allabrilyn.com/aggregator/rss/1' }
    Follow Updates
